body {
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
  font-size: 12px;
  background-color: #CCC;
}

div.mainpage
{
  width: 900px;
  background: #FFF;
  border: 1px solid #AAA;
  padding: 20px;
  margin: auto;
}

p.notice,
p.alert
{
  width: 900px;
  background: #B3002C;
  border: 1px solid #AAA;
  padding: 20px;
  margin: auto;
  color: #FFF;
  font-size: 14px;
  margin-bottom: 20px;
}

div.clear
{
  clear: both;
}

div.header div.branches
{
  float: right;
  margin-bottom: 15px;
}