.repository {
  font-size: 16px;
  padding: 5px;
  
  width: 900px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #DDD;
}

.repository .header {
  background-color: #DDD;
  padding: 5px;
}

.repository .icon {
  float: left;

}
.repository .icon img {
  height: 32px;
}


.repository .name  {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.repository .branches {
  font-size: 12px;
  text-decoration: none;
  background-color: #FFF;
}

.repository a {
  text-decoration: none;
}