div.wall {
  font-family: Verdana, sans-serif;
}

div.wall .commits {
  width: 600px;
  border-right: 1px solid #CCC;
  padding: 0px;
  float: left;
}

div.wall .entries {
  padding: 2px;

}

div.wall div.date {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}


div.wall div.commit_entry {
  border: 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 15px;
  font-size: 11px;
}



div.commit_entry div.image {
  float: left;
  margin-right: 5px;
  width: 50px;
}

div.commit_entry div.image img {
  height: 36px;
}


div.commit_entry div.content {
  float: left;
  padding-bottom: 10px;
  width: 520px;
}

div.commit_entry .message {
  float: left;
  clear: left;
}

div.commit_entry .message .name {
  font-weight: bold;
}



div.commit_entry .date {
  float: left;
  font-size: 11px;
  margin-top: 10px;
}

.repositories {
  margin-left: 10px;
  float: left;
}

.repository {
  font-size: 12px;
  width: 284px;
  margin: auto;
  margin-bottom: 15px;
}

.repository .name {
  margin: auto;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #777;
  color: #FFF;
  padding: 7px;
  width: 275px;
  font-weight: bold;
}

.repository .name .update {
  float: right;
  margin-top: -4px;
}

.repository .name .update img {
  height: 24px;
  border: 0px;
}

.repository .branches {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  width: 278px;
  margin-left: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.repository .branches li {
  margin-top: 5px;
  margin-left: 10px;
  color: #555;
  list-style-type: square;
}

.repository .branches li a {
  text-decoration: none;
}



