production:
  repository_path: <%= ::Rails.root %>/repositories
  sender_email: review@email.me
  site_url: http://example.foo.bar/
  site_name: Check.it

test:
  repository_path: <%= ::Rails.root %>/test/fixtures/repositories
  sender_email: review@email.me
  site_url: http://example.foo.bar/
  site_name: Check.it

development:
  repository_path: <%= ::Rails.root %>/repositories
  sender_email: review@email.me
  site_url: http://example.foo.bar/
  site_name: Check.it